<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.teamtracker">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".PushNotification.ExampleApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.onesignal.NotificationOpened.DEFAULT"
            android:value="DISABLE" />

        <activity android:name=".BoardingActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LocationUtil.MyLocationUsingHelper" />
        <activity android:name=".MainActivity" />
        <activity android:name=".SplashActivity" />
        <activity android:name=".Auth.LoginActivity" />
        <activity android:name=".MenuscreenActivity" />
        <activity android:name=".MenuscreenActivity2" />
        <activity android:name=".Auth.SignupActivity" />
        <activity android:name=".Auth.PhoneAuthActivity" />
        <activity android:name=".Auth.BaseActivity" />
        <activity android:name=".ReportLocation.ReportLocationActivity" />
        <activity android:name=".Auth.DifferentAuth" />
        <activity android:name=".Auth.AnonymousActivity" />
        <activity android:name=".Auth.PasswordlessActivity" />
        <activity android:name=".Auth.GoogleSignInActivity" />
        <activity android:name=".DummyActivity" />
        <activity android:name=".LocationUtil.CityByCoordinates" />
        <activity android:name=".RequestParts.RequestActivity" />
        <activity android:name=".RequestedActivity" />
        <activity android:name=".Forms.FormInitialActivity" />
        <activity android:name=".Forms.FormFinalActivity" />
        <activity android:name=".DepartureReportsActivity" />
        <activity android:name=".ArrivalReportsActivity" />
        <activity android:name=".CompleteInfoActivity" />
        <activity android:name=".LoginInfoActivity" />
        <activity android:name=".ImageUpload.ImageUploadActivity" />
        <activity android:name=".ImageUpload.ImageActivity" />

        <service
            android:name=".ImageUpload.MyDownloadService"
            android:exported="false" />

        <!--
          Android N SDK has new restrictions around sharing file:// URIs
          https://developer.android.com/reference/android/support/v4/content/FileProvider.html#ProviderDefinition
        -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.google.firebase.quickstart.firebasestorage.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <!-- <activity android:name=".MainActivity"></activity> -->
        <service
            android:name=".ImageUpload.AddEvent"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".PushNotification.PushNotificationActivity" />
        <activity android:name=".PushNotification.SecondActivity" />
        <activity android:name=".PushNotification.GreenActivity" />

        <service
            android:name=".PushNotification.NotificationExtenderExample"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE">
            <intent-filter>
                <action android:name="com.onesignal.NotificationExtender" />
            </intent-filter>
        </service>

        <activity android:name=".PushNotification.SendNotificationActivity" />
        <activity android:name=".ImageUpload.CheckImageActivity"></activity>
    </application>

</manifest>