<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tracker.android.teamtracker">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="app.tracker.android.teamtracker.PushNotification.ExampleApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="app.tracker.android.teamtracker.NewAccountActivity"></activity>

        <meta-data
            android:name="com.onesignal.NotificationOpened.DEFAULT"
            android:value="DISABLE" />

        <activity android:name="app.tracker.android.teamtracker.BoardingActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="app.tracker.android.teamtracker.LocationUtil.MyLocationUsingHelper" />
        <activity android:name="app.tracker.android.teamtracker.MainActivity" />
        <activity android:name="app.tracker.android.teamtracker.SplashActivity" />
        <activity android:name="app.tracker.android.teamtracker.Auth.LoginActivity" />
        <activity android:name="app.tracker.android.teamtracker.MenuscreenActivity" />
        <activity android:name="app.tracker.android.teamtracker.MenuscreenActivity2" />
        <activity android:name="app.tracker.android.teamtracker.Auth.SignupActivity" />
        <activity android:name="app.tracker.android.teamtracker.Auth.PhoneAuthActivity" />
        <activity android:name="app.tracker.android.teamtracker.Auth.BaseActivity" />
        <activity android:name="app.tracker.android.teamtracker.ReportLocation.ReportLocationActivity" />
        <activity android:name="app.tracker.android.teamtracker.Auth.DifferentAuth" />
        <activity android:name="app.tracker.android.teamtracker.Auth.AnonymousActivity" />
        <activity android:name="app.tracker.android.teamtracker.Auth.PasswordlessActivity" />
        <activity android:name="app.tracker.android.teamtracker.Auth.GoogleSignInActivity" />
        <activity android:name="app.tracker.android.teamtracker.DummyActivity" />
        <activity android:name="app.tracker.android.teamtracker.LocationUtil.CityByCoordinates" />
        <activity android:name="app.tracker.android.teamtracker.RequestParts.RequestActivity" />
        <activity android:name="app.tracker.android.teamtracker.RequestedActivity" />
        <activity android:name="app.tracker.android.teamtracker.Forms.FormInitialActivity" />
        <activity android:name="app.tracker.android.teamtracker.Forms.FormFinalActivity" />
        <activity android:name="app.tracker.android.teamtracker.DepartureReportsActivity" />
        <activity android:name="app.tracker.android.teamtracker.ArrivalReportsActivity" />
        <activity android:name="app.tracker.android.teamtracker.CompleteInfoActivity" />
        <activity android:name="app.tracker.android.teamtracker.LoginInfoActivity" />
        <activity android:name="app.tracker.android.teamtracker.ImageUpload.ImageUploadActivity" />
        <activity android:name="app.tracker.android.teamtracker.ImageUpload.ImageActivity" />

        <service
            android:name="app.tracker.android.teamtracker.ImageUpload.MyDownloadService"
            android:exported="false" />
        <!--
          Android N SDK has new restrictions around sharing file:// URIs
          https://developer.android.com/reference/android/support/v4/content/FileProvider.html#ProviderDefinition
        -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.google.firebase.quickstart.firebasestorage.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider> <!-- <activity android:name=".MainActivity"></activity> -->
        <service
            android:name="app.tracker.android.teamtracker.ImageUpload.AddEvent"
            android:enabled="true"
            android:exported="true" />

        <activity android:name="app.tracker.android.teamtracker.PushNotification.PushNotificationActivity" />
        <activity android:name="app.tracker.android.teamtracker.PushNotification.SecondActivity" />
        <activity android:name="app.tracker.android.teamtracker.PushNotification.GreenActivity" />

        <service
            android:name="app.tracker.android.teamtracker.PushNotification.NotificationExtenderExample"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE">
            <intent-filter>
                <action android:name="com.onesignal.NotificationExtender" />
            </intent-filter>
        </service>

        <activity android:name="app.tracker.android.teamtracker.PushNotification.SendNotificationActivity" />
        <activity android:name="app.tracker.android.teamtracker.ImageUpload.CheckImageActivity" />
    </application>

</manifest>